<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서관리 어플리케이션</title>
    <link rel="shortcut icon" type="image/png" href="/img/book.png" />
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        function sendPostRequest(url, bookId) {
            const form = document.getElementById(bookId);
            form.action = url;
            form.submit();
        }
    </script>
</head>
<body>

<div class="container">

    <!-- 헤더 -->
    <div class="header"> <img src="/img/book.png" alt="Book Icon" style="width: 70px; margin-right: 24px;"> 도서관리 어플리케이션 </div>

    <!-- 메인 -->
    <div class="main-container2">
        <div class="large-container-outline">

            <nav>
                <ul>
                    <li><a href="/user/myBook">대여 도서 목록</a></li>|
                    <li><a href="#" class="active">도서 전체 목록</a></li>
                </ul>
            </nav>

            <div class="content content-lists">
                <div class="titles">
                    <span class="width12">번호</span>
                    <span class="width68">제목</span>
                    <span class="width7">대출</span>
                    <span class="width7">예약</span>
                </div>
                <div th:each="book : ${books}" class="lists" id="book">
                    <span class="width12" th:text="${bookStat.index + 1}"></span>
                    <span class="width68" th:text="${book.bookname}"></span>
                    <form th:id="${book.bookId}" class="btnGap" method="post">
                        <button class="bookBtn" type="button" th:disabled="${book.status}"
                                th:onclick="sendPostRequest('/user/loanBook', [[${book.bookId}]])">대출</button>
                        <button class="bookBtn" type="button" disabled
                                th:onclick="sendPostRequest('/user/reservation', [[${book.bookId}]])">예약</button>
                        <input type="hidden" id="bookId" name="bookId" th:value="${book.bookId}">
                    </form>
                </div>
            </div>

        </div><!-- large-container-outline -->
    </div><!-- main-container -->
</div><!-- container -->

</body>
</html>