<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서관리 어플리케이션-관리자</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="container">

    <!-- 헤더 -->
    <div class="header"> <img src="/img/book.png" alt="Book Icon" style="width: 70px; margin-right: 24px;"> 도서관리 어플리케이션 </div>

    <!-- 메인 -->
    <div class="main-container2">
        <div class="large-container-outline">

            <nav>
                <ul>
                    <li><a href="#">도서 등록</a></li>|
                    <li><a href="#">도서 전체 목록</a></li>|
                    <li><a href="#" class="active">유저 전체 목록</a></li>
                </ul>
            </nav>

            <div class="content">
                <div class="titles">
                    제목줄
                </div>
                <div class="lists">
                    내용줄
                </div>
                <div class="page">
                    페이징
                </div>
            </div>

        </div><!-- large-container-outline -->
    </div><!-- main-container -->
</div><!-- container -->

</body>
</html>
