@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-font-hover-green: #6EB274;
    --color-font-hover-dark-green: #389F2C;
    --color-dark-button: #63AC1B;

    --color-dark-gray: #717171;
    --color-disabled: #F1F1F1; /* 비활성화 버튼 색 */

    --color-highlight: #86BCBF; /* 검색 포커스 색 */
}

div, a, span, input, button { font-family: Pretendard; }


body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-container {
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.header,
.menu-nav,
.book-list-container,
.navigation-button-area {
    width: 1020px;
    margin: auto;
}

/* 헤더영역 css */
.header {
    height: 120px;
    margin: auto;
    position: relative;
}

.user-nav {
    position: absolute;
    top: 15px;
    right: 25px;

    text-align: end;
    font-size: 14px;
}

.user-nav button {
    border: none;
    background: none;
    font-size: 14px;
}

.user-nav-name:hover {
    color: var(--color-font-hover-dark-green);
    font-weight: bold;
}

.logout-btn {
    margin-left: 22px;
}

.logout-btn:hover {
    font-weight: bold;
}

.domain-title {
    font-size: 26px;

    position: absolute;
    left: 5px;
    bottom: 10px;
}

.menu-nav {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.category-nav button {
    margin-right: 10px;
    border: none;
    background: none;
    font-size: 16px;
}

.category-nav button:hover {
    font-weight: bold;
    color: var(--color-font-hover-green);
}

.category-nav button:disabled {
    font-weight: bold;
    color: var(--color-font-hover-green);
    padding-bottom: 15px;
    border-bottom: 2px solid var(--color-font-hover-green);
}

.search-book {
    position: relative;
}

.search-book input {
    height: 30px;
    width: 220px;
    padding: 0 35px 0 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    font-size: 13px;
}

.search-book input:focus {
    border-color: var(--color-highlight);
}

.search-book input::placeholder {
    color: gray;
}

.search-img {
    height: 22px;
    width: auto;
    margin-top: 3px;
}

.search-book button {
    position: absolute;
    right: 4px;
    height: 30px;

    border: none;
    background: none;
}

/* 게시물 영역 css */
.book-list-container {
    height: 540px;

    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr;
    gap: 50px;
    margin-bottom: 80px;
}

.book-list-area {
    overflow-y: scroll;
    padding: 11px 20px 15px 10px;
}

.book-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    height: 190px;
    gap: 20px;
    border-bottom: 1px solid lightgray;
}

.book-item-img {
    height: 141px;
    width: auto;
}

.book-item-info {
    height: 130px;
    display: flex;
    flex-direction: column;
}

.book-item-title {
    font-size: 16px;
}

.book-item-etc {
    margin-top: 7px;
    font-size: 14px;
    color: gray;
}

.book-item-etc span {
    font-family: IBMPlexSansKR-Regular !important;
    letter-spacing: 0.02em;
}

.book-item-status {
    margin-top: 13px;
}

.book-item-status span {
    font-family: IBMPlexSansKR-Regular !important;
    letter-spacing: 0.02em;
    font-size: 14px;
    color: var(--color-dark-gray);
}

.book-item-btn-area {
    display: flex;
    flex-direction: column;
}

.book-item-btn {
    width: 100%;
    height: 28px;
    margin-bottom: 8px;

    border: none;
    border-radius: 4px;
    background-color: var(--color-dark-button);
    color: white;
}

.book-item-btn:hover {
    filter: brightness(1.1);
}

.book-item-btn:disabled {
    background-color: var(--color-disabled);
    color: gray;
    pointer-events: none;
}

/* 인기 도서 영역 */
.best-book-area {
}

.best-book-area-title {
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: 5px;
}

.next-book-btn {
    background: none;
    border: none;
    margin-left: 10px;
    font-size: 15px;
}

.next-book-btn:hover {
    font-weight: bold;
    color: var(--color-font-hover-dark-green);
}

.select-book {
    height: 33%;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
}

.select-book-info {
    height: 80%;
    width: 45%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.select-book-info span:nth-child(1) {font-size: 13px; font-weight: bold; color: gray;}
.select-book-info span:nth-child(2) {font-size: 15px; margin: 4px 0 7px 0; line-height: 1.3;}
.select-book-info span:nth-child(3) {font-size: 13px; color: gray;}

.select-book-img {
    width: 110px;
    height: auto;
    border-radius: 5px;
}

.rank-book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 14px 0;
    padding-right: 48px;
}

.rank-book-item {
    position: relative;
    width: 89px;
    height: 140px;
}

.rank-number {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 2;
    background-color: gray;
    color: white;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0 10px 0;

    position: absolute;
    top: -5px;
    left: 6px;
}

.rank-book-img {
    width: 85px;
    height: auto;
    border-radius: 4px;
}

.no-book-result {
    width: 100%;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    font-size: 16px;
    line-height: 1.7;
}

.no-result-img {
    width: 40px;
    height: auto;
    margin-bottom: 11px;
}

/* ---- 나의 도서 목록 ---- */
.my-book-container {
    width: 1020px;
    min-height: 540px;
    padding-top: 20px;
}

.my-book-menu-title {
    font-size: 16px;
    margin: 30px 0 15px 0;
    padding-left: 20px;
}

.book-reservation-area,
.book-loan-area {
    padding: 5px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.book-reservation-area {
    border-bottom: 1px solid lightgray;
}

.reservation-book-item,
.loan-book-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 20px 10px 28px;
    margin-bottom: 40px;
}

.reservation-book-item {
    height: 190px;
}

.loan-book-item {
    height: 216px;
}

.reservation-book-item:not(:nth-child(3n)):not(:last-child),
.loan-book-item:not(:nth-child(3n)):not(:last-child) {
    border-right: 1px solid lightgray;
}

.my-book-info {
    display: flex;
    height: 73%;
}

.my-book-img {
    height: 110px;
    width: auto;
}

.my-book-etc {
    width: 189px;
    margin-left: 20px;
}

.my-book-title {
    font-size: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reservation-date {
    margin-top: 15px;
    font-size: 14px;
}

.reservation-queue-count {
    margin-top: 2px;
    font-size: 14px;
}

.highlight-data {
    color: var(--color-font-hover-green);
    font-family: IBMPlexSansKR-Regular !important;
    letter-spacing: 0.02em;
}

.alert-data {
    color: red;
    font-family: IBMPlexSansKR-Regular !important;
    letter-spacing: 0.02em;
}

.no-my-book-result {
    width: 300%;
    margin: 12% 0 36% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: gray;
}

.my-book-btn-area {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    gap: 10px;
}

.my-book-btn-area button {
    width: 100px;
}

.navigation-button-area {
    width: 1020px;
    margin: 40px 0 60px 0;

    display: flex;
    justify-content: center;
}

.page-up-btn {
    height: 30px;
    width: 1020px;
    padding: 0 14px;
    border: none;
    background: none;
    font-size: 13px;

    display: flex;
    justify-content: flex-end;
    gap: 6px;
    transition: all 0.2s ease;
}

.page-up-btn:hover {
    color: var(--color-font-hover-dark-green);
    cursor: pointer;
}

.page-up-img {
    width: 20px;
    height: auto;
    margin-top: -3px;
}

.tooltip {
    min-width: 190px;
    position: fixed;
    background-color: rgb(156, 201, 156);
    color: white;
    font-size: 16px;
    padding: 2px 9px;
    border-radius: 5px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.tooltip.show {
    opacity: 1;
    visibility: visible;
}